:root {
    --nav-size: 60px;
    --side-padding: 40px;
    --max-width: 1100px;
    --border-radius-sm: 15px;

    /* Colors */
    --dark-background: rgb(26, 26, 37);
    --dark-alt-background: rgb(30, 30, 53);
    --dark-badge-background: rgb(51, 51, 51);
    --dark-accent-color: rgb(69, 0, 160);

    --dark-border-color: rgb(80, 80, 80);
    --dark-font-color: white;
    --dark-highlight-font-color: rgb(96, 118, 216);
    --dark-alt-font-color: rgb(180, 180, 180);
    --dark-note-color: rgb(95, 95, 95); 
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    /* font */
    font-family: sans-serif;
    color: var(--dark-font-color);
}

html {
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    width: 100vw;

}

button,
a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

p {
    color: var(--dark-alt-font-color);
    font-size: large;
    line-height: 1.6;
}

.flex-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.col {
    flex-direction: column;
    align-items: flex-start;
}

.alt-background {
    background-color: var(--dark-alt-background);
}

/* each section within content */
.section {
    scroll-margin-top: var(--nav-size);
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0px var(--side-padding);
}

.section h1 {
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.section h1::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    z-index: -1;
    background-color: var(--dark-accent-color);
    width: 100%;
    height: 20px;
}

.section-content {
    max-width: var(--max-width);
    width: 100%;
    /* margin-top: max(20vh, 100px);
    margin-bottom: max(20vh, 100px); */

    margin: max(16vh, 100px) 0px;
    /* height: calc(70vh - var(--nav-size)); */
    max-height: max-content;
    flex-grow: 2;
}

/* Main content under nav bar */
.content {
    background-color: var(--dark-background);
    margin-top: var(--nav-size);
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
}

/* Navigation bar styles */

.nav-bar {
    background-color: var(--dark-background);
    border-bottom: var(--dark-border-color) 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-size);
    z-index: 1000;
}

.active {
    color: var(--dark-highlight-font-color)
}

.nav-bar h2 {
    font-weight: 500;
    font-size: 20px;
}

.nav-bar h2 span {
    color: var(--dark-highlight-font-color);
}

.nav-containers {
    display: flex;
    width: 15vw;
    gap: 20px;
}

/* Social icons in nav bar */
.nav-containers a>* {
    fill: var(--dark-font-color);
    transition: fill 0.3s ease, color 0.3s ease;
}

.nav-containers a>:hover {
    fill: var(--dark-highlight-font-color);
}

.nav-button-container {
    display: flex;
    gap: 20px;
}

.nav-bar button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar button:hover {
    color: var(--dark-highlight-font-color);
}

/* Typed title styles  */
.terminal {
    display: flex; 
}
.terminal *{
    font-size: 5em;
    font-family: monospace;
}
.prompt
{color: var(--dark-highlight-font-color); }
.title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.cursor {
    display: inline-block;
    width: 1ch;
    height: 100%;
    background-color: white; 
    animation: blink 0.8s infinite; 
}

@keyframes blink {
  0%, 50% { opacity: 1 }
  51%, 100% { opacity: 0 }
}

/* Landing page */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    margin-top: max(20vh, 100px);
    margin-bottom: max(20vh, 100px);
    height: calc(60vh - var(--nav-size));
}

.landing-page h2 {
    color: var(--dark-highlight-font-color);
}

.landing-page h2,
h3 {
    font-weight: 500;
}

.landing-page p {
    line-height: 2;
    text-align: left;
}

.landing-page button {
    background-color: transparent;
    border: solid 1px var(--dark-highlight-font-color);
    border-radius: 10px;

    font-size: medium;
    font-weight: 500;
    padding: 10px;
    flex-grow: 2;

    /* glow */
    box-shadow: 0 6px 15px var(--dark-accent-color);
}

.landing-page button:hover {
    background-color: var(--dark-highlight-font-color);
}

.landing-page button div {
    display: flex;
    align-items: flex-end;

    gap: 10px;
}

.landing-page-button-container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

/* About Me */
.aboutme-content {
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: stretch;
    gap: 5vw;

}

.aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max(40vw, 400px);

}

.aboutme-section p {
    padding-bottom: 20px;
}

.tech-skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

.skill-section {
    display: flex;
    flex-direction: column;

}

.skill-section h4 {
    color: var(--dark-highlight-font-color);
    padding-bottom: 10px;
}

/* badges */
.badge {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: var(--dark-highlight-font-color) solid 1px; */
    background-color: var(--dark-badge-background);
    border-radius: 10px;
    padding: 2px 10px;

}

.badge p {
    font-size: 13px;
    color: var(--dark-font-color);
    padding: 0px;
}

.badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* PROJECT SECTION */
.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: scroll;

    padding: 20px;
    border: var(--dark-border-color) 3px solid;
    background-color: var(--dark-alt-background);
    border-radius: 20px;
}

.project-card {
    background-color: var(--dark-background);
    min-width: min(550px, 100%);
    width: 100%;
    border: var(--dark-border-color) 1px solid;
    border-radius: 15px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
}

.img-container {
    height: auto;
    width: 100%;

}

.img-container img {
    height: 250px;
    width: 100%;
}

.project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-content button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 15px;

    background-color: transparent;

    border: var(--dark-border-color) 1px solid;
    border-radius: 10px;

    height: 30px;
    transition: filter 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.project-content button:hover {
    filter: brightness(85%);
    box-shadow: 0 4px 10px 2px var(--dark-highlight-font-color);
    /* bluish glow */
}

/* EXPERIENECE SECTION */
.experiences-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    border: var(--dark-border-color) 1px solid;
    border-radius: 15px;
    padding: 30px;
    gap: 20px;
}

.desc {
    line-height: 1.6;
}

.experience-card li,
.desc {
    color: var(--dark-alt-font-color);
}

.experience-card ul {
    list-style: disc outside;
    padding-left: 20px
}

.experience-card li {
    padding: 5px 0px;

    display: list-item;
    font-size: 15px;
}

.exp-row {
    display: flex;
    justify-content: space-between;
}

.experience-card h3 {
    color: var(--dark-highlight-font-color);
}

.header-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Badge class */
.outline {
    background-color: transparent;
    border: var(--dark-highlight-font-color) solid 1px;
    color: var(--dark-highlight-font-color);
}

/* Contact */

#contact h4 {
    font-size: x-large;
    font-weight: 500;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    /* border: var(--dark-border-color) 1px solid; */
    background-color: var(--dark-alt-background);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
}
.contact-card h3
{font-weight: 600;}
.contact-card .icon
{
    fill: var(--dark-highlight-font-color);
}
.contact-card .lucide-icon{
    stroke: var(--dark-highlight-font-color)
}
.contact-card a
{color: var(--dark-highlight-font-color)}

.contacts-cont {
    margin-top: 7vh;
    display: flex;
    width: 100%;
    gap: 20px;

}


/* Footer */
footer {
    background-color: var(--dark-alt-background);
    width: 100%;
    border-top: var(--dark-border-color) 1px solid;
    min-height: max-content;
    height: 15vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
    justify-content: center;

    font-size: small;

}
.footnote
{
    font-size: small;
    /* color: var(--dark-note-color) */
}

/* PHONE RULES */
@media (max-width: 600px) {
    .aboutme-content {
        flex-wrap: wrap;
    }

    .nav-bar {
        justify-content: center;
    }

    .nav-button-container button {
        font-size: medium
    }

    .nav-containers {
        display: none;
    }

    .landing-page {
        /* no nav bar */
        margin-top: 15vh;

    }

    .terminal * {
        font-size: 2.5em;
    }

    .landing-page h2 {
        font-size: 1.5em;
    }

    .contacts-cont {
        flex-wrap: wrap;
    }

    .contact-card {
        width: 100%;
    }

    #contact h4 {
        font-size: large;
    }
}