:root {
    --nav-size: 60px;

    /* Colors */
    --dark-background: rgb(26, 26, 37);
    --dark-alt-background: rgb(30, 30, 53);
    --dark-badge-background: rgb(51, 51, 51);
    --dark-accent-color: blue;

    --dark-font-color: white;
    --dark-highlight-font-color: rgb(96, 118, 216);
    --dark-alt-font-color: rgb(180, 180, 180);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    /* font */
    font-family: sans-serif;
    color: var(--dark-font-color);
}

html {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

button,
a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

p {
    color: var(--dark-alt-font-color);
    font-size: large;
    line-height: 1.6;
}

.alt-background {
    background-color: var(--dark-alt-background);
}

/* each section within content */
.section {
    scroll-margin-top: var(--nav-size);
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 40px 40px;
}

.section-content {
    max-width: 1000px;
    width: 100%;
    /* margin-top: max(20vh, 100px);
    margin-bottom: max(20vh, 100px); */
    height: max-content;
    flex-grow: 2;
}

/* Main content under nav bar */
.content {
    background-color: var(--dark-background);
    margin-top: var(--nav-size);
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
}

/* Navigation bar styles */

.nav-bar {
    background-color: var(--dark-background);
    border-bottom: var(--dark-alt-font-color) 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-size);
    z-index: 1000;
}

.active {
    color: var(--dark-highlight-font-color)
}

.nav-bar h2 {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-highlight-font-color);
}

.nav-containers {
    display: flex;
    width: 15vw;
    gap: 20px;
}

/* Social icons in nav bar */
.nav-containers a>* {
    fill: var(--dark-font-color);
    transition: fill 0.3s ease, color 0.3s ease;
}

.nav-containers a>:hover {
    fill: var(--dark-highlight-font-color);
}

.nav-button-container {
    display: flex;
    gap: 20px;
}

.nav-bar button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar button:hover {
    color: var(--dark-highlight-font-color);
}

/* Landing page */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    margin-top: max(20vh, 100px);
    margin-bottom: max(20vh, 100px);
    height: calc(60vh - var(--nav-size));
}

.landing-page h1 {
    font-size: 4em;
}

.landing-page h2 {
    color: var(--dark-highlight-font-color);
}

.landing-page h2,
h3 {
    font-weight: 500;
}

.landing-page p {
    line-height: 2;
    text-align: left;
}

.landing-page button {
    background-color: transparent;
    border: solid 1px var(--dark-highlight-font-color);
    border-radius: 10px;

    font-size: medium;
    font-weight: 500;
    padding: 10px;
    flex-grow: 2;
}

.landing-page button:hover {
    background-color: var(--dark-highlight-font-color);
}

.landing-page button div {
    display: flex;
    align-items: flex-end;

    gap: 10px;
}

.landing-page-button-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

/* About Me */
.aboutme-content {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: stretch;

}

.aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.aboutme-section p {
    padding-bottom: 20px;
}

.tech-skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-section {
    display: flex;
    flex-direction: column;

}

.skill-section h4 {
    color: var(--dark-highlight-font-color);
    padding-bottom: 10px;
}

/* badges */
.badge {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: var(--dark-highlight-font-color) solid 1px; */
    background-color: var(--dark-badge-background);
    border-radius: 10px;
    padding: 5px 10px;

}

.badge p {
    font-size: 12px;
    color: var(--dark-font-color);
    padding: 0px;
}

.badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Footer */
footer {
    min-height: max-content;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-items: center;

}